<template>
  <div id="currency_table__wrapper">
    <table id="currency_table">
      <tr  id="header_row" class="row">
        <th>Pair name/market</th>
        <th>First</th>
        <th>Second</th>
        <th>Third</th>
      </tr>
      <tr
              v-for="currencyPair in $data.currencyPairs"
              :key="currencyPair.id"
              class="content_row row">
        <td>{{currency[currencyPair.firstCurrency].title}}/{{currency[currencyPair.secondCurrency].title}}</td>
        <td>{{(currency[currencyPair.firstCurrency].firstMarket/currency[currencyPair.secondCurrency].firstMarket).toFixed(11)}}</td>
        <td>{{(currency[currencyPair.firstCurrency].secondMarket/currency[currencyPair.secondCurrency].secondMarket).toFixed(11)}}</td>
        <td>{{(currency[currencyPair.firstCurrency].thirdMarket/currency[currencyPair.secondCurrency].thirdMarket).toFixed(11)}}</td>
      </tr>
    </table>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'
import { MapState } from '@/Decorators'
import { marketCurrency } from '@/store/CurrencyPairsInterface'


@Component({
})
export default class CurrencyTable extends Vue {
  @MapState('CurrencyPairs', {
    marketCurrency: (state: any) => state.marketCurrency
  })
  public marketCurrency!: marketCurrency
  data () {
    return {
      currencyPairs: [
        {id: 1, firstCurrency: 'rub', secondCurrency: 'cupcakeRub'},
        {id: 2, firstCurrency: 'usd', secondCurrency: 'cupcakeUsd'},
        {id: 3, firstCurrency: 'eur', secondCurrency: 'cupcakeEur'},
        {id: 4, firstCurrency: 'rub', secondCurrency: 'usd'},
        {id: 5, firstCurrency: 'rub', secondCurrency: 'eur'},
        {id: 6, firstCurrency: 'eur', secondCurrency: 'usd'},
      ]
    }
  }
  mounted () {
    this.$store.dispatch('CurrencyPairs/updateMarket', 'first')
    this.$store.dispatch('CurrencyPairs/updateMarket', 'first/poll')
    this.$store.dispatch('CurrencyPairs/updateMarket', 'second')
    this.$store.dispatch('CurrencyPairs/updateMarket', 'second/poll')
    this.$store.dispatch('CurrencyPairs/updateMarket', 'third')
    this.$store.dispatch('CurrencyPairs/updateMarket', 'third/poll')

  }

  get currency (): any {
    return {
      rub: {
        title: 'RUB',
        firstMarket: this.marketCurrency.first.RUB,
        secondMarket: this.marketCurrency.second.RUB,
        thirdMarket: this.marketCurrency.third.RUB
      },
      usd: {
        title: 'USD',
        firstMarket: this.marketCurrency.first.USD,
        secondMarket: this.marketCurrency.second.USD,
        thirdMarket: this.marketCurrency.third.USD
      },
      eur: {
        title: 'EUR',
        firstMarket: this.marketCurrency.first.EUR,
        secondMarket: this.marketCurrency.second.EUR,
        thirdMarket: this.marketCurrency.third.EUR
      },
      cupcakeRub: {
        title: 'CUPCAKE',
        firstMarket: this.marketCurrency.firstPoll.RUB,
        secondMarket: this.marketCurrency.secondPoll.RUB,
        thirdMarket: this.marketCurrency.thirdPoll.RUB
      },
      cupcakeUsd: {
        title: 'CUPCAKE',
        firstMarket: this.marketCurrency.firstPoll.USD,
        secondMarket: this.marketCurrency.secondPoll.USD,
        thirdMarket: this.marketCurrency.thirdPoll.USD
      },
      cupcakeEur: {
        title: 'CUPCAKE',
        firstMarket: this.marketCurrency.firstPoll.EUR,
        secondMarket: this.marketCurrency.secondPoll.EUR,
        thirdMarket: this.marketCurrency.thirdPoll.EUR
      }
    }
  }
}
</script>
<style scoped lang="less">
  #currency_table__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    #currency_table {
      width: 500px;
      background-color: gray;
      td, th {
        padding: 5px;
      }
      td {
        width: 100px;
      }
      tr {
        background-color: white;
        &:hover {
          background-color: #ddeefd;
        }
      }
    }
  }
</style>
