<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="less">
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: gray;
  }
</style>
